@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #1a73e8;
  --input-color: #80868b;
  --border-color: #dadce0;

  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 1.2rem;
  margin-bottom: 1.5rem;
}
